[Unit]
Description=spring-boot-tutorial-aj3
After=syslog.target

[Service]
User=root
ExecStart=java -jar -Dserver.port=9000 /var/lib/spring-boot-tutorial-aj3/spring-boot-tutorial-aj3.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target